@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}
.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 40px;
    box-shadow: 0px 3px 2px rgba(0,0,0,.2);
}
.nav {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    display: flex;
    gap: 13px;
}
#search-input {
    outline: none;
    border: none;
    width: 600px;
    padding: 8px 5px;
    border-radius: 20px;
    background-color: #FEF3C7;
}
.account {
    display: flex;
    align-items: center;
    gap: 17px;
}
.account .photo {
    height: 50px;
    width: 50px;
    background: url('images/doge.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.tools {
    grid-row: 2 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile {
    display: flex;
    align-items: center;
    gap: 17px;
}
.profile .photo {
    height: 70px;
    width: 70px;
    background: url('images/doge.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.btns {
    display: flex;
    gap: 17px;
}
.btn {
    background-color: #FACC15;
    color: #fff;
    width: 90px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    border-radius: 20px;
}
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background: #EAB308;
    display: grid;
    grid-template-rows: 60px 1fr 1fr 60px;
    padding-left: 20px;
    color: #fff;
    gap: 30px;
}
.logo {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.sidebar-tools-1 {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}
.sidebar-tools-2 {
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}
.tool {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
.fa-solid {
    font-size: 20px;
}
.main-content {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}